body{
    padding-top: 60px; 
}

.fila {
    padding:0;
    background-image: url("../imagenes/dron.jpg");
    background-size: cover;
    padding-bottom: 30%;
    background-repeat: no-repeat;  

}
.rowSinMargin {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.textoWelcome {
    font-family: 'Roboto Slab', serif;
    color: #4caf50;
    font-size: 55px;
    position: fixed;
    padding-top: 10%;
    padding-left: 2%;
}